name: Run Databricks Notebook

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'src/databricks/**'
      - '.github/workflows/db_cd.yaml'

jobs:
  run-notebook:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install Databricks CLI
        run: |
          pip install --upgrade databricks-cli
          
      - name: Configure Databricks CLI
        run: |
          databricks configure --token <<EOF
          https://${{ secrets.DATABRICKS_HOST }}
          ${{ secrets.DATABRICKS_TOKEN }}
          EOF

      - name: Trigger Notebook Run
        run: |
           databricks jobs run-now --name "CI/CD Notebook Job"
