name: Run Databricks Notebook

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'src/databricks/**'
      - '.github/workflows/db_cd.yaml'

jobs:
  run-notebook:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install Databricks CLI
        run: |
          pip install databricks-cli
          pip install databricks-cli --upgrade
          databricks jobs configure --version=2.1
          
      - name: Configure Databricks CLI
        run: |
          databricks configure --token <<EOF
          https://${{ secrets.DATABRICKS_HOST }}
          ${{ secrets.DATABRICKS_TOKEN }}
          EOF

      - name: Trigger Notebook Run
        run: |
           JOB_ID=$(databricks jobs list --output JSON 2>/dev/null | grep -v '^WARN' | jq -r '.jobs[] | select(.settings.name=="CICD_Notebook_Job") | .job_id')
              if [ -z "$JOB_ID" ]; then
                 echo "Job not found!"
                 exit 1
              fi
              run_id=$(databricks jobs run-now --job-id $JOB_ID --output JSON 2>/dev/null | grep -v '^WARN' | jq -r '.run_id')
